/* SLIDER STYLES HERE */

.el-slider__runway {
  height: 10px !important;
  border-radius: 30px !important;

  .el-slider__bar {
    height: 10px !important;
    border-top-left-radius: 30px !important ;
    border-bottom-left-radius: 30px !important;
    background-color: #0065a8 !important;
  }

  .el-slider__button-wrapper {
    top: -14px !important;

    .el-slider__button {
      border: 1px solid #0000001f !important;
    }
  }
}

/* INPUT STYLES HERE */

#price-range {
  .el-input {
    @apply w-[84px];
  }

  .el-input__wrapper {
    @apply border border-[#0000003b] outline-none h-8;
    box-shadow: unset !important;
    padding: 0.75rem !important;
  }

  .el-input-number {
    @apply text-left w-[unset];
  }

  .el-input__inner {
    @apply text-left;
  }
}

#quantity-input {
  .el-input {
    margin: auto !important;
    width: 132px;
    // width: 67px;
    // border: 1px solid red;
  }

  // border border-[#0000003b]

  .el-input__wrapper {
    // border-radius: 4px;
    height: 48px;
    // border: 1px solid #0000003b;
    box-shadow: none !important;

    &.is-focus {
      // box-shadow: none !important;
    }

    .el-input__inner {
      border: 1px solid #0000003b;
      height: 48px;
      border-radius: 4px;
    }
  }

  .el-input-number {
    .el-input-number__decrease {
      left: -6px !important;
    }

    .el-input-number__increase {
      right: -6px !important;
    }

    .el-input-number__decrease,
    .el-input-number__increase {
      border-radius: 4px !important;
      background-color: #f4f6f5 !important;
      font-size: 1rem !important;
      color: #979797 !important;
      border-left: none !important;
      border-right: none !important;
      width: 48px !important;

      &:hover {
        color: #979797 !important;
      }
    }
  }
}

/* BREAD-CRUMB STYLES HERE */

.el-breadcrumb {
  font-size: 1rem !important;

  .el-breadcrumb__item:last-child .el-breadcrumb__inner {
    color: rgba(0, 0, 0, 0.87) !important;
  }

  .el-breadcrumb__inner.is-link {
    color: #979797 !important;
    font-weight: 400 !important;
  }
}

/* SELECT STYLES HERE */

#price-sort .el-input__wrapper {
  border: none !important;
  border-bottom: 1px solid #979797 !important;
  border-radius: unset !important;
  padding: 0 !important;
  outline: none !important;

  &.is-focus {
    box-shadow: unset !important;
  }

  .el-input__inner {
    font-size: 1rem !important;
  }

  .el-input.is-focus {
    box-shadow: unset !important;
  }
}

.el-popper__arrow {
  display: none;
}

.el-select.m-2 {
  margin: 0 !important;
}

.el-select-dropdown__item {
  font-size: 1rem !important;
  color: #979797 !important;
}

.el-select-dropdown__item.selected {
  color: black !important;
}

.el-select-dropdown__item {
  height: 42px !important;
  line-height: 42px !important;
}
