/* SLIDER STYLES HERE */

.el-slider__runway {
  height: 10px !important;
  border-radius: 30px !important;

  .el-slider__bar {
    height: 10px !important;
    border-top-left-radius: 30px !important ;
    border-bottom-left-radius: 30px !important;
    background-color: #0065a8 !important;
  }

  .el-slider__button-wrapper {
    top: -14px !important;

    .el-slider__button {
      border: 1px solid #0000001f !important;
    }
  }
}

/* INPUT STYLES HERE */

#price-range {
  .el-input {
    @apply w-[84px];
  }

  .el-input__wrapper {
    @apply border border-[#0000003b] outline-none h-8;
    box-shadow: unset !important;
    padding: 0.75rem !important;
  }

  .el-input-number {
    @apply text-left w-[unset];
  }

  .el-input__inner {
    @apply text-left;
  }
}

#quantity-input {
  .el-input {
    margin: auto !important;
    width: 132px;
  }

  .el-input__wrapper {
    height: 48px;
    box-shadow: none !important;

    &.is-focus {
      box-shadow: none !important;
    }

    .el-input__inner {
      border: 1px solid #0000003b;
      height: 48px;
      border-radius: 4px;
    }
  }

  &.cart-display {
    .el-input__wrapper {
      height: 36px !important;
    }

    .el-input__inner {
      height: 36px !important;
    }
  }

  .el-input-number {
    .el-input-number__decrease {
      left: -6px !important;
    }

    .el-input-number__increase {
      right: -6px !important;
    }

    .el-input-number__decrease,
    .el-input-number__increase {
      border-radius: 4px !important;
      background: #f4f6f5 !important;
      font-size: 1rem !important;
      color: #979797 !important;
      border-left: none !important;
      border-right: none !important;
      width: 48px !important;

      &:hover {
        color: #979797 !important;
      }
    }
  }
}

.el-checkbox__label {
  font-size: 1rem !important;
  color: #000000de !important;
  padding-left: 0.75rem !important;
  line-height: 1.5rem !important;
}

.el-checkbox__inner {
  height: 20px !important;
  width: 20px !important;
  border: 1px solid #979797 !important;

  &::after {
    left: 7px !important;
    top: 3px !important;
    height: 9px !important;
  }
}

.el-checkbox {
  white-space: unset !important;
}

.el-checkbox__input.is-checked .el-checkbox__inner {
  background-color: #000 !important;
}

/* BREAD-CRUMB STYLES HERE */

.el-breadcrumb {
  font-size: 1rem !important;

  .el-breadcrumb__item:last-child .el-breadcrumb__inner {
    color: rgba(0, 0, 0, 0.87) !important;
  }

  .el-breadcrumb__inner.is-link {
    color: #979797 !important;
    font-weight: 400 !important;
  }
}

/* SELECT STYLES HERE */

#price-sort .el-input__wrapper {
  border: none !important;
  border-bottom: 1px solid #979797 !important;
  border-radius: unset !important;
  padding: 0 !important;
  outline: none !important;
  box-shadow: unset !important;

  &.is-focus {
    box-shadow: unset !important;
  }

  .el-input__inner {
    font-size: 1rem !important;
  }

  .el-input.is-focus {
    box-shadow: unset !important;
  }
}

.el-popper__arrow {
  display: none;
}

.el-select.m-2 {
  margin: 0 !important;
}

.el-select-dropdown__item {
  font-size: 1rem !important;
  color: #979797 !important;
}

.el-select-dropdown__item.selected {
  color: black !important;
}

.el-select-dropdown__item {
  height: 42px !important;
  line-height: 42px !important;
}

/* Table STYLES HERE */

.el-table .el-table__cell {
  padding: 14px 0 !important;
}

.el-table .cell {
  @apply font-medium text-[#0000008a];
}

.el-table__row .cell {
  font-weight: 400 !important;
}
