@import './base.scss';
@import './fonts.scss';

html,
body {
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

.app__container {
  @apply w-[70%] mx-auto;
}

/* CAROUSELL STYLES HERE */
.carousel__slide {
  padding: 0 !important;
}

#category-display .carousel__track {
  height: 410px;
}
