@import './base';
@import './fonts';
@import './element';

html,
body {
  scroll-behavior: smooth;
  font-family: 'Roboto', sans-serif;
}

.app-container {
  @apply w-[70%] mx-auto;
}

/* CAROUSELL STYLES HERE */
.carousel__slide {
  padding: 0 !important;
}

#category-display .carousel__track {
  height: 410px;
}

.carousel__prev,
.carousel__next {
  width: 5rem !important;
  height: 5rem !important;
  margin: 0 -2.25rem !important;
  color: #bdbdbd !important;

  .carousel__icon {
    width: 5rem !important;
    height: 5rem !important;
  }
}
